# -------------------------------
# Project Info
# -------------------------------
PROJECT_NAME=jp-visouldocs
VERSION=7.1.1
DESCRIPTION=N/A
GITHUB_URL=https://github.com/jiggoo0/vite-react
DEVELOPER_EMAIL=jiggo0@outlook.co.th
WEBSITE_URL=https://404notfontjp.vercel.app/

# -------------------------------
# Vercel Deployment
# -------------------------------
VERCEL_ACCOUNT=jiggoos-projects
VERCEL_PROJECT_NAME=vite-react
VERCEL_PROJECT_ID=prj_MBF9hbw032OzD2gDVkUQ7mvoYA2t
VERCEL_TOKEN=H0FpwVb2Nt8xkPukpNbR9F1Wo

# -------------------------------
# Vite Environment Variables (ต้อง prefix ด้วย VITE_)
# -------------------------------
VITE_APP_NAME=jp-visouldocs
VITE_APP_VERSION=7.1.1
VITE_APP_ENV=development             # "development" | "production" | "staging"
VITE_API_URL=http://localhost:3000/api
VITE_FEATURE_FLAG=false               # true | false
VITE_APP_BUILD_TIME=2025-09-05T23:00:00Z