PROJECT_NAME=vite-react
VERSION=7.1.1
DESCRIPTION=N/A
GITHUB_URL=https://github.com/jiggoo0/vite-react
DEVELOPER_EMAIL=jiggo0@outlook.co.th
WEBSITE_URL=https://404notfontjp.vercel.app/
VERCEL_ACCOUNT=jiggoos-projects
VERCEL_PROJECT_NAME=vite-react
VERCEL_PROJECT_ID=prj_MBF9hbw032OzD2gDVkUQ7mvoYA2t
VERCEL_TOKEN=H0FpwVb2Nt8xkPukpNbR9F1W