@font-face {
  font-family: "THSarabunNew";
  src:
    url("/fonts/THSarabunNew.woff2") format("woff2"),
    url("/fonts/THSarabunNew.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "THSarabunNew";
  src:
    url("/fonts/THSarabunNew-Bold.woff2") format("woff2"),
    url("/fonts/THSarabunNew-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
